.navbar {
    
    
        
    height: 100vh;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('loginbg.jpg');
    background-size: cover;
}
.right-nav button:hover{
    color: red;
}
.right-nav button{
    padding: 5px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    